$color-primary: #08a6e4;
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-main-background: #ffffff;
$color-secondary-background: #f7f7f7;
$color-text: #000000;
$color-redish: #fb3b64;
$color-green: #55dfb4;
$color-grey: #a5a5a5;

$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
